<div class="portfolio">
	
		<div class="row">
			
				
					<div class="col-sm-6 gallery-column">
				

						<div class="col-lg-4">
							<div class="gallery-item">
								<a href="img/gallery/portfolio1-43.jpg" data-lightbox="image-1" data-title="Renata Izmailova">
									<img src="img/gallery/thumbnail/portfolio1-43.jpg" alt="" class="portfolio-item img-rounded" width="100%" height="100%">
								</a>
							</div>
						</div>

				
			
				

						<div class="col-lg-4">
							<div class="gallery-item">
								<a href="img/gallery/portfolio1-57.jpg" data-lightbox="image-1" data-title="Renata Izmailova">
									<img src="img/gallery/thumbnail/portfolio1-57.jpg" alt="" class="portfolio-item img-rounded" width="100%" height="100%">
								</a>
							</div>
						</div>

				
			
				

						<div class="col-lg-4">
							<div class="gallery-item">
								<a href="img/gallery/table-tent1.jpg" data-lightbox="image-1" data-title="Renata Izmailova">
									<img src="img/gallery/thumbnail/table-tent1.jpg" alt="" class="portfolio-item img-rounded" width="100%" height="100%">
								</a>
							</div>
						</div>

				
					</div>
				
			
				
					<div class="col-sm-6 gallery-column">
				

						<div class="col-lg-4">
							<div class="gallery-item">
								<a href="img/gallery/table-tent2.jpg" data-lightbox="image-1" data-title="Renata Izmailova">
									<img src="img/gallery/thumbnail/table-tent2.jpg" alt="" class="portfolio-item img-rounded" width="100%" height="100%">
								</a>
							</div>
						</div>

				
			
				

						<div class="col-lg-4">
							<div class="gallery-item">
								<a href="img/gallery/table-tent3.jpg" data-lightbox="image-1" data-title="Renata Izmailova">
									<img src="img/gallery/thumbnail/table-tent3.jpg" alt="" class="portfolio-item img-rounded" width="100%" height="100%">
								</a>
							</div>
						</div>

				
			
				

						<div class="col-lg-4">
							<div class="gallery-item">
								<a href="img/gallery/table-tent4.jpg" data-lightbox="image-1" data-title="Renata Izmailova">
									<img src="img/gallery/thumbnail/table-tent4.jpg" alt="" class="portfolio-item img-rounded" width="100%" height="100%">
								</a>
							</div>
						</div>

				
					</div>
				
			
		</div>
	
		<div class="row">
			
				
					<div class="col-sm-6 gallery-column">
				

						<div class="col-lg-4">
							<div class="gallery-item">
								<a href="img/gallery/table-tent5.jpg" data-lightbox="image-1" data-title="Renata Izmailova">
									<img src="img/gallery/thumbnail/table-tent5.jpg" alt="" class="portfolio-item img-rounded" width="100%" height="100%">
								</a>
							</div>
						</div>

				
			
		</div>
	
</div>


