<div class="portfolio">
	<% for (var i = 0; i < images.length; i++) { %>
		<div class="row">
			<% 
				var count = 0;
				for (var j = 0; j < images[i].length; j++) {
			%>
				<% if (count === 0) { %>
					<div class="col-sm-6 gallery-column">
				<% } %>

						<div class="col-lg-4">
							<div class="gallery-item">
								<a href="<%=images[i][j].image %>" data-lightbox="image-1" data-title="Renata Izmailova">
									<img src="<%=images[i][j].thumbnail %>" alt="" class="portfolio-item img-rounded" width="100%" height="100%">
								</a>
							</div>
						</div>

				<% 
					if (count === 2) { 
						count = 0;
				%>
					</div>
				<%
					} else {
						count++;
					}
				%>
			<%
				} 
			%>
		</div>
	<% } %>
</div>


