<div class="portfolio">
	
		<div class="row">
			
				<div class="col-md-2">
					public/img/gallery/thumbnail/portfolio1-43.jpg
					public/img/gallery/portfolio1-43.jpg
				</div>
			
				<div class="col-md-2">
					public/img/gallery/thumbnail/portfolio1-57.jpg
					public/img/gallery/portfolio1-57.jpg
				</div>
			
				<div class="col-md-2">
					public/img/gallery/thumbnail/table-tent1.jpg
					public/img/gallery/table-tent1.jpg
				</div>
			
				<div class="col-md-2">
					public/img/gallery/thumbnail/table-tent2.jpg
					public/img/gallery/table-tent2.jpg
				</div>
			
				<div class="col-md-2">
					public/img/gallery/thumbnail/table-tent3.jpg
					public/img/gallery/table-tent3.jpg
				</div>
			
				<div class="col-md-2">
					public/img/gallery/thumbnail/table-tent4.jpg
					public/img/gallery/table-tent4.jpg
				</div>
			
		</div>
	
		<div class="row">
			
				<div class="col-md-2">
					public/img/gallery/thumbnail/table-tent5.jpg
					public/img/gallery/table-tent5.jpg
				</div>
			
		</div>
	
</div>

<!-- <div class="col-md-2">
	<img src="img/galery/portfolio1-43.jpg" alt="" class="portfolio-item">
</div>
<div class="col-md-2">
	<img src="img/galery/portfolio1-57.jpg" alt="" class="portfolio-item">
</div>
<div class="col-md-2">
	<img src="img/galery/table-tent1.jpg" alt="" class="portfolio-item">
</div>
<div class="col-md-2">
	<img src="img/galery/table-tent2.jpg" alt="" class="portfolio-item">
</div>
<div class="col-md-2">
	<img src="img/galery/table-tent3.jpg" alt="" class="portfolio-item">
</div>
<div class="col-md-2">
	<img src="img/galery/table-tent4.jpg" alt="" class="portfolio-item">
</div> -->
